<small>
	<span class="content">-------------------------------------------</span>
	<span class="content">Investment amount: <%= investment.amount %></span>
	<span class="content">Investment bid id: <%= investment.bid_id %></span>
	<span class="content">Investment id: <%= investment.id %></span>
	<span class="content">Investment user id: <%= investment.user_id %></span>
	<span class="content">Investment wallet id: <%= investment.wallet_id %></span>
</small>