<small>
	<span class="content">Auction id: <%= bid.auction_id %></span>
	<span class="content">Bid name: <%= bid.name %></span>
	<span class="content">Bid category: <%= bid.category %></span>
	<span class="content">Bid subcategory: <%= bid.subcategory %></span>
	<span class="content">Bid price: <%= bid.price %></span>
	<span class="content">Bid actual amount: <%= bid.actual_amount %></span>
	<span class="content">Bid max amount: <%= bid.max_amount %></span>
	<span class="content">Bid id: <%= bid.id %></span>
	<span class="timestamp">
		Created <%= time_ago_in_words(bid.created_at) %> ago by <%= bid.user.name %>
	</span>
	<% if  admin?(current_user) %>
		<%= link_to "edit", edit_bid_path(bid), data: { confirm: "You sure?" },title: bid.name %>
		<%= link_to "delete", bid, method: :delete, data: { confirm: "You sure?" },title: bid.name %>
	<% end %>
	<div class="span4">
			<ol class="userbids">
				<%= render bid.investments %>
			</ol>
		</div>
		<%if signed_in?%>
		<div class="row">
			<div class="span8">
					<%= render partial: "investments/form", locals: {bid: bid} %>
			</div>
		</div>
		<% end %>
</small>