<small>
	<span class="content"><%= bid.name %></span>
	<span class="content"><%= bid.category %></span>
	<span class="content"><%= bid.subcategory %></span>
	<span class="content"><%= bid.price %></span>
	<span class="timestamp">
		Created <%= time_ago_in_words(bid.created_at) %> ago by <%= bid.user.name %>
	</span>
	<% if  admin?(current_user) %>
		<%= link_to "edit", edit_bid_path(bid), data: { confirm: "You sure?" },title: bid.name %>
		<%= link_to "delete", bid, method: :delete, data: { confirm: "You sure?" },title: bid.name %>
	<% end %>
</small>