<% provide(:title, "Edit Choice") %>
	<h1>Update Choice</h1>
	<div class="row">
		<div class="span6 offset3">
			<%= form_for ([@user,@choice]) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<div class="field">
					<%= f.label :all_objects %>
					<%= f.text_field :all_objects %>
					<%= f.label :team %>
					<%= f.text_field :team %>
					<%= f.label :player%>
					<%= f.text_field :player %>
					<%= f.label :pg%>
					<%= f.text_field :pg %>
					<%= f.label :sg%>
					<%= f.text_field :sg %>
					<%= f.label :sf%>
					<%= f.text_field :sf %>
					<%= f.label :pf%>
					<%= f.text_field :pf %>
					<%= f.label :ce%>
					<%= f.text_field :ce %>
					<%= f.label :max_amount%>
					<%= f.text_field :max_amount %>
					<%= f.label :min_amount%>
					<%= f.text_field :min_amount %>
					<%= f.label :max_time%>
					<%= f.text_field :max_time %>
					<%= f.label :min_time%>
					<%= f.text_field :min_time %>
				</div>
					<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>