<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <%= @user.name %>
      </h1>
      <h2>
       Team: <%= @choice.all_objects %> 
      </h2>
      <h2>
       Team: <%= @choice.team %> 
      </h2>
      <h2>
       Player: <%= @choice.player %> 
      </h2>
      <h2>
       PG: <%= @choice.pg %> 
      </h2>
      <h2>
       SG: <%= @choice.sg %> 
      </h2>
      <h2>
       SF: <%= @choice.sf %> 
      </h2>
      <h2>
       PF: <%= @choice.pf %> 
      </h2>
      <h2>
       CE: <%= @choice.ce %> 
      </h2>
      <h2>
       MAX_AMOUNT: <%= @choice.max_amount %> 
      </h2>
      <h2>
       MIN_AMOUNT: <%= @choice.min_amount %> 
      </h2>
      <h2>
       MAX_TIME: <%= @choice.max_time %> 
      </h2>
      <h2>
       MIN_TIME: <%= @choice.min_time %> 
      </h2>
    </section>
  </aside>
</div>