<% provide(:title, "Edit Auction") %>
	<h1>Update Auction</h1>
	<div class="row">
		<div class="span6 offset3">
			<%= form_for(@auction) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<div class="field">
					<%= f.label :title %>
					<%= f.text_field :title %>
					<%= f.label :content %>
					<%= f.text_area :content %>
				</div>
				<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
